{
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "generators": true,
    "modules": true
  },
  "rules": {
    "array-bracket-spacing": [2, "always"],
    "comma-dangle": [2, "never"],
    "eol-last": 2,
    "indent": [2, 2, {
      "SwitchCase": 1
    }],
    "jsx-quotes": [2, "prefer-double"],
    "no-multiple-empty-lines": 2,
    "no-unused-vars": 2,
    "no-var": 2,
    "object-curly-spacing": [2, "always"],
    "quotes": [2, "single", "avoid-escape"],
    "semi": [2, "always"],
    "strict": 0,
    "space-before-blocks": [2, "always"]
  },
  "env": {
    "amd": true,
    "es6": true,
    "node": true
  },
  "plugins": [
    "babel"
  ]
}