{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "array-bracket-spacing": [2, "always"],
    "comma-dangle": [2, "never"],
    "eol-last": 2,
    "indent": [2, 2, {
      "SwitchCase": 1
    }],
    "jsx-quotes": [2, "prefer-double"],
    "no-multiple-empty-lines": 2,
    // Disable base no-unused-vars, use TS version
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      { "argsIgnorePattern": "^_", "varsIgnorePattern": "^_", "caughtErrorsIgnorePattern": "^_" }
    ],
    // Allow bare expressions (needed for chai.expect)
    "no-unused-expressions": "off",
    "@typescript-eslint/no-unused-expressions": "off",
    "no-var": 2,
    "no-extra-semi": 2,
    "object-curly-spacing": [2, "always"],
    "quotes": [2, "single", "avoid-escape"],
    "semi": [2, "always"],
    "strict": 0,
    "space-before-blocks": [2, "always"]
  },
  "env": {
    "node": true,
    "mocha": true,
    "es2020": true
  }
}
