name: Build and Test

on:
  merge_group:
  workflow_dispatch:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}


jobs:
  configure:
    name: Configure Build Matrix
    runs-on: ubuntu-latest

    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha || github.ref }}

      - id: set-matrix
        run: echo "matrix=$(jq -c . < ./.github/workflows/matrix.json)" >> $GITHUB_OUTPUT

  build:
    needs: configure

    name: Build Package
    runs-on: ubuntu-latest

    strategy:
      matrix: ${{ fromJson(needs.configure.outputs.matrix) }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - uses: ./.github/actions/build
        with:
          node: ${{ matrix.node }}


  unit:
    needs: [configure, build] # Require build to complete before running tests

    name: Run Unit Tests
    runs-on: ubuntu-latest

    strategy:
      matrix: ${{ fromJson(needs.configure.outputs.matrix) }}

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
          cache: npm


      - run: npm ci
      - run: npm run test:ci

      # only upload coverage on one node version
      - if: matrix.node == 20
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # pin@5.5.2

  lint:
    needs: build # Require build to complete before running tests

    name: Lint Code
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: npm


      - run: npm ci
      - run: npm run lint
